{% extends "./index.html" %}
{% block content %}
<div class="main_content">
  <h1>Balance</h1>
  {% if balance_list %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Amount</th>
            <th scope="col">Coin</th>
          </tr>
        </thead>
        <tbody>
            {% for coin, balance in balance_list.items %}
                <tr>
                    <td>{{balance}}</td>
                    <td>{{coin}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
  {% else %}
      <p>You have no balance yet.</p>
  {% endif %}
</div>  
{% endblock %}