{% extends "./index.html" %}
{% block content %}
<div class="main_content">
    {% if message %}
        <h4>There was an error when creating the coin: {{message}}</h4>
    {% endif %}
    <h2>Available coin names</h2> 
    {% if coin_list %}
        <div class="row">
            <ul class="list-group list-group-horizontal-sm">
                {% for coin in coin_list %}
                    <li class="list-group-item">{{ coin.coin_name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No coins were created yet.</p>
    {% endif %}
    <div class="row">
        <div class="col-1">
            <form action="{% url 'coinapp:save_coin' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend><h1>Create a new Coin</h1></legend>
                    <label for="coin_name">Coin name: </label>
                    <input id="coin_name" type="text" name="coin_name">
                </fieldset>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>  
{% endblock %}