{% extends "./index.html" %}
{% block content %}
<div class="main_content">
  <a href="{% url 'coinapp:index'%}" class="btn btn-success">Home</a>  
  {% if movements %}
  <h1>Movements</h1>
      <table>
          <tr>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Amount</th>
            <th>Coin</th>
            <th>Date</th>
          </tr>
          {% for movement in movements%}
          <tr>
            <td>{{movement.sender_name}}</td>
            <td>{{movement.receiver_name}}</td>
            <td>{{movement.amount}}</td>
            <td>{{movement.coin_used}}</td>
            <td>{{movement.operation_date}}</td>
          </tr>
          {% endfor %}
      </table>
  {% else %}
      <p>You didn't make any transaction yet.</p>
  {% endif %}
</div>  
{% endblock %}