{% extends "./index.html" %}
{% block content %}
<div class="main_content"> 
  {% if movements %}
  <h1>Movements</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sender</th>
            <th scope="col">Receiver</th>
            <th scope="col">Amount</th>
            <th scope="col">Coin</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
            {% for movement in movements %}
                <tr>
                  <td>{{movement.sender_name}}</td>
                  <td>{{movement.receiver_name}}</td>
                  <td>{{movement.amount}}</td>
                  <td>{{movement.coin_used}}</td>
                  <td>{{movement.operation_date}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
  {% else %}
      <p>You didn't make any transaction yet.</p>
  {% endif %}
</div>  
{% endblock %}